@import 'general';

.work-section {
  color: $textColor;
  margin-top: 20px;
  margin-left: 20px;

  .section-title {
    @include section-title();
  }

  .work_preview {
    display: flex;
    margin: 10px 20px 10px -40px;
    font-family: $textFont;
    font-size: 17px;

    .descriptions {
      margin: 5px 10px 10px 30px;
      .position {
        width: 600px;
        display : inline-block;
      }
      
      .position .title {
        font-weight: 630;
      }

      .time {
        float: right;
        clear: both;
      }

      .location {
        div {
          display: inline;
          font-style: italic;
        }
      }

      .details {
        margin-top: 16px;
      }

      a {
        @include link();
        color: #c0913b;
        border-bottom: 1px dotted #ffa700;
      }
    }
  }
}
